<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.oreum.posts.dao.PostsDAO">

  <!-- posts 테이블에 저장 -->
  <insert id="insertpost" parameterType="com.oreum.posts.dto.PostsDTO"
   useGeneratedKeys="true" keyProperty="postId">
    INSERT INTO posts (
      user_id, board_id, title, content
    ) VALUES (
      #{userId}, #{boardId}, #{title}, #{content}
    );
  </insert>

  <!-- curation_details 테이블에 저장 -->
  <insert id="insertCurationDetail" parameterType="com.oreum.posts.dto.PostsDTO">
    INSERT INTO curation_details (
      post_id, media_type, media_url
    ) VALUES (
      #{postId}, #{mediaType}, #{mediaUrl}
    );
  </insert>

  <!-- post_media 테이블에 URL 저장 -->
  <insert id="insertPostMedia">
    INSERT INTO post_media (post_id, media_type, media_url)
    VALUES (
      #{postId}, #{mediaType}, #{mediaUrl}
    )
  </insert>



  </mapper>