<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN"
"file:///C:/Users/805-01/eclipse-workspace/padd/src/main/resources/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oreum.goods.dao.goodsDAO">
  <select id="findAllGoods" resultType="com.oreum.goods.dto.goodsDTO">
    SELECT * FROM goods
  </select>
  <select id="findGoods" resultType="com.oreum.goods.dto.goodsDTO">
  	SELECT * FROM goods WHERE id=#{id}
  </select>
  <update id="increaseLikes">
    UPDATE goods SET likes = likes + 1 WHERE id = #{goodsId}
  </update>

  <update id="decreaseLikes">
    UPDATE goods SET likes = likes - 1 WHERE id = #{goodsId} AND likes > 0
  </update>
</mapper>